[package]
name = "os-project"
version = "0.0.1"
edition = "2024"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
bootloader = { version = "0.9", features = ["map_physical_memory"] }
log = "0.4.29"
x86_64 = "0.15.4"
